<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Projeto x</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In debitis harum iste, atque deserunt numquam explicabo ab voluptates esse consequatur, neque facilis et exercitationem quam tempora. Tempore, eligendi. Totam sint, harum expedita veritatis pariatur fugit iusto blanditiis assumenda quos? Eaque asperiores provident officia voluptates veritatis officiis nobis impedit, consectetur commodi deleniti mollitia quia fuga tempora porro, reprehenderit perferendis corporis nesciunt sint ipsam illum odit obcaecati, quod assumenda? Vel vitae magnam id, a molestiae autem. Tempora ipsa odio debitis eos libero tenetur amet minima iure dignissimos velit non hic, dolorum eligendi temporibus! Placeat, nam deserunt labore laborum eum corrupti suscipit doloribus.</p>
</body>
</html>