* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#navbar {
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
    margin-bottom: 20px;
}

#navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    margin-right: 2em;

}

#navbar ul li a {
    text-decoration: none;
    color: #000;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
}

.form, 
.tasks-container {
    width: 450px;
    margin: 0 auto;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 3px;
}

.form-control input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form button {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 3em;
    cursor: pointer;
}

.form-checkbox {
    flex-direction: row;
}

.form-checkbox input {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
}

.container .item {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 29%;
    max-width: 29%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.item h2,
.item p {
    margin-bottom: .8em;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.actions a,
.actions input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.actions .delete-btn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.actions .details-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.address-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.address-container h2 {
    text-align: center;
    margin-bottom: 1em;
}

.address-container form {
    width: 300px;
}