<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Novo pensamento</h1>
    <form action="/toughts/add" method="POST">
        <div class="form-control">
            <label for="title">Pensamento:</label>
            <input type="text" name="title" cols="30" rows="10" required></input>
        </div>
        <input type="submit" value="Criar pensamento">
    </form>
</div>