<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Criar pensamento</a>
    </div>
    <h3>Seus pensamentos</h3>
    <ul>
        {{#each toughts}}
            <li>
                <span class="label">{{this.title}}</span>
                <span class="actions">
                    <a href="/"class="btn">Editar</a>
                    <form action="/toughts/remove" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" class="btn" value="Excluir">
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
    {{#if emptyToughts}}
        <p class="empty">Você ainda não tem pensamentos cadastrados. <a href="/toughts/add">Que tal criar um?</a></p>
    {{/if}}
</div>