<h1>Criando uma nova tarefa</h1>

<form action="/tasks/add" method="POST" class="form-control">
    <div class="form-control">
        <label for="title">Titulo:</label>
        <input type="text" name="title" placeholder="Digite o titulo" required />
    </div>
     <div class="form-control">
        <label for="description">Descrição:</label>
        <textarea name="description" placeholder="Digite a descrição" required></textarea>
    </div>
    <input type="submit" value="Cadastrar" />
</form>