<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
</head>
<body>
    <nav>
        <p>barra de navegação</p>
    </nav>
    {{{body}}}
    <footer>
        <p>Desenvolvido por Jon</p>
    </footer>
</body>
</html>